@use 'variables' as *;

body {
  background-color: #f0f2f5; // A light grey background for a modern look
  font-family: $primary-font;
  color: $primary-text;
  margin: 0;
  padding: $spacing-unit * 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
