// _variables.scss

// Colors
$primary-background: #f9f9f9;
$card-background: #ffffff;
$primary-text: #1d1d1f;
$secondary-text: #86868b;
$accent-color: #007aff;
$accent-color-dark: #005ecb;

$success-color: #34c759;
$error-color: #ff3b30;


// Fonts
$primary-font: 'Savate', sans-serif;

// Spacing
$spacing-unit: 1rem;
$border-radius: 8px;
